h1{
    color: aliceblue;
}
#xtudo{
    background-color: #0b9946;
    color: #fff;
    padding: 1px;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 4s;
    ;
}
#nizio{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#ac{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}