h1{
    color: aliceblue;
}
#xtudo{
    background-color: #0b9946;
    color: #fff;
    padding: 1px;
    font-size: 20px;
    ;
}
#nizio{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#ac{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}